* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}
.app {
  width: 100%;
}

.dataCard {
  width: 700px;
  height: 400px;
}
.forecast-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 130px;
}
@media screen and (max-width: 1200px) {
  .forecast-section {
    flex-direction: column-reverse;
  }
  .dataCard {
    width: 600px;
    height: 300px;
  }
  .forecast-section {
    margin-top: 50px;
    gap: 30px;
  }
}
@media screen and (max-width: 650px) {
  .forecast-section {
    flex-direction: column-reverse;
  }
  .dataCard {
    width: 360px;
    height: 300px;
  }
  .forecast-section {
    margin-top: 50px;
    gap: 30px;
  }
  input {
    width: 300px;
  }
}
